@import "bootstrap/scss/bootstrap";


#logo 
{
  float: left;
  font-size: 1.7em;
  color: yellow;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  border-right: solid;
  border-bottom: solid;
  border-radius: 25px;
  padding: 10px; 
 }
 #logo:hover 
 {
  color: #fff;
  text-decoration: none;
 }
 .nav-link
{
    color: black !important;
}
.nav-link:hover
{
  color: #fff;
  text-decoration: none;
}
 #page-content {
  flex: 1 0 auto;
}
#main-header
{
    color: black;
    text-shadow: 1px 1px 1px #e2a31c; 
    margin-bottom: 20px;
}
/* pagination styling */
.apple_pagination {
  text-align: center;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #E21C4A; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #FDDE32;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: #256FC3; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }